body {
    background: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100%;
    margin: auto;
    max-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    align-items: center;
}

.titulo {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    margin-top: 5%;
    font-size: 48px;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    text-transform: uppercase;
}

.informacoes {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 48px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}

.sinopse {
    font-family: 'Josefin sans';
    font-size: 20px;
    color: white;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 16px;
}

.sinopseBold {
    font-family: 'Josefin sans';
    font-size: 22px;
    color: white;
    font-weight: 600;
    line-height: 1.5;
}

.esquerda button {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px 8px;
    border: 0 solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: #484926;
    color: white;
    margin-top: 24px;
}

.esquerda button:hover {
    background-color: #606148;
}

.direita img  {
    width: 480px;
}

footer {
    background-color: black;
    text-align: center;
    padding: 16px 0;
    font-family: 'Josefin sans';
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    font-weight: bold;
}

@media screen and (max-width: 1244px) {
    body {
        background: url(./assets/bg.png) no-repeat center center fixed;;
        background-attachment: local;
        width: 100%;
        margin: auto;
        height: auto;
    }

    .informacoes {
        margin: 40px 0 80px 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sinopse {
        text-align: center;
        font-size: 18px;
    }
    
    .sinopseBold {
        text-align: center;
        font-size: 20px;
    }

    .direita img  {
        width: 320px;
    }
    
    footer {
        padding: 8px 0;
    }
}

@media screen and (max-width: 962px) {
    .informacoes {
        margin: 40px 0 80px 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        padding: 28px;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sinopse {
        text-align: center;
        font-size: 16px;
    }
    
    .sinopseBold {
        text-align: center;
        font-size: 18px;
    }

    .esquerda button {
        margin-top: 0px;
    }

    .direita img  {
        display: none;
    }
    
    footer {
        padding: 8px 0;
    }
}

@media screen and (max-width: 498px) {
    .titulo {
        margin-top: 5%;
        margin-bottom: 0;
        font-size: 32px;
    }
   
    .informacoes {
        margin: 20px 0 80px 0;
        padding: 24px;
    }

    .sinopse {
        margin-top: 0;
        font-size: 16px;
        text-align: center;
    }
    
    .sinopseBold {
        font-size: 18px;
        text-align: center;
    }

    .esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .esquerda button {
        font-size: 14px;
        margin-top: 0px;
    }

    .direita {
        display: none;
    }
    
    footer {
        font-size: 12px;
        padding: 8px 0;
    }
}

@media screen and (max-width: 392px) {
    .informacoes {
        padding: 24px;
    }

    footer {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (max-width: 368px) {
    .informacoes {
        padding: 24px;
    }

    footer {
        padding-left: 8px;
        padding-right: 8px;
    }
}