body {
    background: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    width: 100%;
    margin: auto;
    max-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    align-items: center;
}

.titulo {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    margin-top: 5%;
    font-size: 48px;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    text-transform: uppercase;
}

.informacoes {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 48px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
}

.sinopse {
    font-family: 'Josefin sans';
    font-size: 20px;
    color: white;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 16px;
}

.sinopseBold {
    font-family: 'Josefin sans';
    font-size: 22px;
    color: white;
    font-weight: 600;
    line-height: 1.5;
}

.esquerda button {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 16px;
    padding: 12px 20px 8px;
    border: 0 solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: #484926;
    color: white;
    margin-top: 24px;
}

.esquerda button:hover {
    background-color: #606148;
}

.direita img  {
    width: 480px;
}

footer {
    background-color: black;
    text-align: center;
    padding: 16px 0;
    font-family: 'Josefin sans';
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    font-weight: bold;
}